article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box; }

/* NORMALIZE */

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 0;
}

#root {
  height: 100%;
}

.app--container {
  height: 85vh;
}

.app--container h2,
.app--container p {
  text-align: center;
}

.app--container--btn {
  text-align: center;
}

.app--container--btn button {
  display: block;
  margin: 0 auto;
  background-color: #3ebfac;
  border: none;
  outline: none;
  padding: 1rem;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12),
  0 3px 1px -2px rgba(0, 0, 0, .2);
}

.chatapp__container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  min-height: 80vh;
  height: 100%;
  position: relative;
}

.chatapp__navigation--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #3ebfac; */
  background-color: #50586b;
  border-bottom: 6px solid #3ebfac;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  height: 5rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1.5px;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-items: center;
}

.chatapp__navigation--logo:hover {
  cursor: pointer;
  color: #3ebfac;
}

.chatapp__navigation--user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatapp__navigation--user span {
  display: block;
  margin-right: 1.5rem;
}

.chatapp__navigation--user button {
  background-color: #3ebfac;
  border: none;
  border-radius: 2px;
  height: 2rem;
  min-width: 4rem;
  font-size: 0.875rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
}

.chatapp__navigation--user button:nth-of-type(1) {
  background-color: inherit;
  border: 1px solid #3ebfac;
}

.chatapp__navigation--user button:nth-of-type(1):hover {
  background-color: #3ebfac;
}

.chatapp__navigation--user button:nth-of-type(2) {
  margin-left: 1rem;
}

.chatapp__form--container {
  background: linear-gradient(135deg, rgba(36,46,77, 0.9), rgba(137,126,121,0.9));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  height: calc(100% - 4.5rem);
}

.chatapp__form--modal form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatapp__form--modal input {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  border: none;
  outline: none;
  width: 100%;
  height: 20rem;
  margin-bottom: 1rem;
  height: 3rem;
  padding: 1rem;
}

.chatapp__form--container input::placeholder {
  color: #8f8f8f;
}

.chatapp__form--modal {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28.5rem;
  padding: 3rem;
  height: auto;
  background: rgba(0,0,0,0.2);
}

.chatapp__form--modal:before {
  content: "";
  position: absolute;
  top: -2.5px;
  left: 0;
  height: 2.5px;
  width: 100%;
  background: linear-gradient(to right, #35c3c1, #3ebfac)
}

.chatapp__form--modal button {
  background-color: #3ebfac;
  border: 0;
  outline: 0;
  color: #fff;
  padding: 1rem;
}

.chatapp__form--guest {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 60%;
  padding: 1.5rem;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.chatapp__form--guest:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #35c3c1, #3ebfac)
}

.chatapp__form--guest input {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  border: none;
  outline: none;
  height: 20rem;
  margin-right: 0;
  margin-bottom: 1rem;
  height: 3rem;
  border-bottom: 1px solid #8f8f8f;
  /* padding: 1rem; */
}

.chatapp__form--guest form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
}

.chatapp__form--guest button {
  background-color: #3ebfac;
  border: 0;
  outline: 0;
  color: #fff;
  padding: 1rem;
}

.alert {
  color: #3ebfac;
  position: relative;
}

.alert h3 {
  text-align: center;
}

.chatapp__userpanel--container {
  width: calc(33% / 1.1618);
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 265px;
}

.chatapp__userpanel--container button {
  border: none;
  outline: none;
  background-color: inherit;
  color: #3ebfac;
}

.userpanel__channels--container p {
  text-align: left;
  padding-left: 1.5rem;
  margin: 0;
}

.userpanel__channels--add {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  justify-content: space-between;
  padding-right: 1.5rem;
  align-items: center;
  padding-bottom: 1rem;
  height: 100%;
  min-height: 7rem;
  border-bottom: 1px solid #f0f0f0;
}

.userpanel__channels--add .add__btn,
.userpanel__channels--add .close__btn {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  color: #3ebfac;
}

.userpanel__channels--add .close__btn {
  padding-left: 0.875rem;
}

.userpanel__channels--add button:hover {
  color: #a77fb2;
}

.channel__add--popup input {
  background-color: #f3f3f3;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 12px;
}

.channel__search {
  display: flex;
  flex-direction: row;
}

.channel__search input {
  font-family: FontAwesome, 'Open Sans', sans-serif;
}

.userpanel__channels--list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  max-height: 20rem;
}

.userpanel__channels--list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  align-items: center;
  padding-top: 2.5rem;
  cursor: pointer;
  color: #8f8f8f;
}

.userpanel__channels--list li:hover {
  background-color: #f1f1f1;
  color: #000;
}

.userpanel__channels--list button {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  padding-right: 1.5rem;
  color: #3ebfac;
}

.userpanel__channels--list button:hover {
  color: red;
}

.chatapp__mainchat--container {
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.chatapp__chatbox {
  background-color: #fff;
  width: 100%;
  border-left: 1px solid #eee;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  border-bottom-right-radius: 18px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
  0 1px 5px 0 rgba(0, 0, 0, .12),
  0 3px 1px -2px rgba(0, 0, 0, .2);
}

.chatapp__chatbox h3 {
  padding-right: 1.5rem;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
  height: 3.5rem;
  line-height: 3.5rem;
  border-bottom:2px solid #a77fb2;
}

.chatapp__chatbox form {
  display: flex;
  padding: 1.5rem;
  height: 100%;
  max-height: 5rem;
  border-top: 1px solid #f1f1f1;
  width: 100%;
}

.chatapp__chatbox form input {
  flex-grow: 1;
  border: none;
  padding: 1rem;
  border: 1px solid #8f8f8f;
  outline: none;
  border-radius: 40px;
}

.chatapp__chatbox input:focus {
  border: 1px solid #3ebfac;
}

.chatapp__chatbox--messages {
  background-color: #f3f3f3;
  overflow-y: scroll;
  flex-grow: 1;
}

.chatapp__chatbox--messages ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.chatapp__chatbox--messages li {
  display: inline-block;
  /* margin: 0 auto; */
  align-self: flex-end;
  text-align: right;
}

.chatapp__chatbox--messages .chat--received {
  text-align: left;
  align-self: flex-start;
  border-left: 0px solid;
}

.chatapp__chatbox--messages .chat--received .speech--bubble {
  border-left: 2.25px solid #a77fb2;
  border-right: 0;
}

.chatapp__chatbox--messages .user--joined {
  align-self: center;
  padding-bottom: 1.5rem;
}

.chatapp__chatbox--messages .user--joined .speech--bubble--date,
.chatapp__chatbox--messages .user--joined .speech--bubble--author {
  padding: 0;
  text-align: center;
  width: 100%;
}

.chatapp__chatbox--messages .user--joined p {
  margin: 0;
}

.speech--bubble {
  background-color: #fff;
  padding: 0.15rem;
  display: inline-block;
  min-width: 3rem;
  color: #000;
  border-right: 2.25px solid #3ebfac;
  margin-bottom: 1rem;
}

.speech--bubble p {
  margin: 0;
  padding: 0.875rem;
}

.speech--bubble--author p {
  display: inline-block;
  /* padding: 0.25rem; */
  font-weight: 300;
  text-align: right;
}

.speech--bubble--date {
  padding-left: 1rem;
  color: #8f8f8f;
  font-weight: 300;
}

.private__message--container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.9);
}

.private__message--window button {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  position: absolute;
  right: -3.5rem;
  top: -3rem;
}

.private__message--window {
  position: absolute;
  height: 85%;
  width: 75vw;
  /* max-height: 20rem; */
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.private__message--window:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(to right, #35c3c1, #3ebfac)
}

#private__message--input {
  border-bottom-right-radius: 0;
}

.active__typing {
  padding-left: 3rem;
  position: fixed;
  left: 0;
  bottom: 5rem;
}

.active__typing p {
  color: #8f8f8f;
  text-align: left;
  padding-bottom: 0.25rem;
}

#private__chatbox {
  position: relative;
}

@media (max-width: 730px) {
  .userpanel__channels--add {
    flex-direction: column;
  }
}